<div class="row light_border">
  <div class="data light_border"><%= form.label :photo_caption %></div>
  <div class="data light_border"><%= form.text_field :photo_caption %></div>
</div>

<div class="row light_border">
  <div class="data light_border"><%= form.label :scope %></div>
  <div class="data light_border"><%= select(:photo, "scope", {"public" => "public", "private" => "private"}) %></div>
</div>

<div class="row light_border">
  <div class="data light_border"><%= form.label :photo_path %></div>
  <div class="data light_border"><%= form.text_field :photo_path %></div>
</div>


<div class="row light_border">
  <div class="data light_border"><%= form.label :tags %></div>
  <div class="data light_border"><%= form.text_area :photo_tags %></div>
</div>
