<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<link type="text/css" href="<%=RAILS_ROOT%>/public/stylesheets/themes/smoothness/jquery-ui-1.8.custom.css" />
	<% if protect_against_forgery? %>
	  <script type='text/javascript'>
	      //<![CDATA[
	        window._auth_token_name = "#{request_forgery_protection_token}";
	        window._auth_token = "#{form_authenticity_token}";
	    //]]>
	    </script>
	<% end %>
	<%= javascript_include_tag 'application' %>
</head>
<body>
<div class="ui-widget">
 
 
<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Log In", new_user_session_path %> |
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>
 
<p style="color: green"><%= flash[:notice] %></p>
 
<%= yield %>
<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Hey!</strong> Sample ui-state-highlight style.</p>
			</div>
</div>
</body>
</html>
 
